@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import "tailwindcss";
@import "./styles/Button.css";

:root {
  --base-clr: #f9fafb;
  --line-clr: #e5e7eb;
  --hover-clr: rgba(94, 99, 255, 0.1);
  --text-clr: #111827;
  --accent-clr: #001c77;
  --secondary-text-clr: #6b7280;
  --font-primary: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  --color-primary: #1e3a8a;
  --header-bg: #1e3a8a;
  --header-text: #ffffff;
  --header-title: #001c77;
  --footer-bg: #f3f4f6;
  --footer-text: #6b7280;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  /* Ensure the entire page takes up the full height of the viewport */
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  line-height: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--base-clr);
  color: var(--text-clr);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dashboard-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header styles */
header {
  color: var(--header-title);
  padding: 1.5rem 0;
  text-align: center;
  margin-top: 3rem;
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

main {
  flex: 1;
  /* Allow the main content to grow and fill the remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  /* Ensure the layout spans the full height of the viewport */
  opacity: 0;
  transform: translateY(5px);
  animation: fadeInUp 0.6s ease-out forwards;
}

main h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--header-title);
  margin-bottom: 5rem;
  text-align: center;
}

main p {
  font-size: 1.125rem;
  color: var(--secondary-text-clr);
  margin-bottom: 1.5rem;
  text-align: center;
}

footer {
  color: var(--footer-text);
  text-align: center;
  padding: 1.5rem 0;
}

footer small {
  font-size: 0.875rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
  color: #fff;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}